<title>Alphalanche</title>
<div id="container">
    <h1 id="title">Alphalanche</h1>
        <table id="play-area">
        <% 4.times do |i| %>
            <tr>
                <% 4.times do |j| %>
                    <td class="game-cell" data-x="<%= i %>" data-y="<%= j %>"></td>
                <% end %>
            </tr>
        <% end %>
    </table>
</div>
