<title>Alphalanche</title>
<div id="game-data" 
    data-dictionary='["dog", "cat", "wolf"]' 
    data-letters=<%= ("A".."Z").to_a.to_json %>    
    ></div>
<div id="container">
    <h1 id="title">Alphalanche</h1>
    <div id="play-area">
        <div class="status">
            <div id="current-word"></div> 
            <div id="current-score">0</div>
        </div>
        <div class="game-buttons">
            <div id="pass-turn">Pass</div>
            <div id="score-word">Score</div>
            <div id="clear-word">Clear</div>
            <div id="restart-game">Restart</div>
        </div>
        <% 4.times do |i| %>
            <div class="game-row">
                <% 4.times do |j| %>
                    <div class="game-cell" data-x="<%= i %>" data-y="<%= j %>" data-letter="">
                    </div>
                <% end %>
            </div>
        <% end %>
    </div>
</div>
