// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
}

#title {
    text-align: center;
    text-size: 36pt;
    margin-bottom: 50px;
}

#play-area {
    margin: auto;
    width: 90%;
}

.game-cell {
    background-color: #000;
    border: 2px solid #ddd;
}
