// Place all the styles related to the game controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
}

#title {
    text-align: center;
    font-size: 4em;
    margin-bottom: 50px;
}

#pass-turn {
    width: 50%;
    margin: auto;
    margin-bottom: 100px;
    background-color: blue;
    h2 {
        padding: 40px;    
        text-align: center;
        font-size: 2em;
        color: white;
    }
}

#play-area {
    margin: auto;
    width: 90%;
}

.game-cell {
    width: 25%;
    max-height: 150px;
    max-width: 150px;
    color: #fff;
    font-size: 6em;
    text-align: center;
    background-color: #000;
    border: 2px solid #ddd;
}
